html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: rgb(182, 202, 255);
  /* background-image: url("img/4162773.jpg"); */
}

h1,
h2 {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

canvas {
  background-image: url("../img/4162773.jpg");
  /* background-color: rgb(147, 231, 254); */
  background-size: cover;
  width: 100%;
  height: 85vh;
  z-index: 20;
}

#container {
  max-width: 100rem;
  height: 100vh;
  background-color: aqua;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 0.15fr 0.5fr;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "top-left top-left top-left top-left top-right top-right top-right top-right"
    "game game game game game game game game"
    /* "bottom-left bottom-left bottom-right bottom-right"; */
  
}

#top-left,
#top-right,
#bottom-left,
#bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f3ff;
  padding: 0;
}

/* #top-left {
  grid-area: top-left;
} */

#top-right {
  background-color: #f5f3ff;
  /* background-image: url('../img/funky-lines.png'); */
}

main {
  grid-area: game;
}

#bottom-left {
  /* grid-area: bottom-left; */
  /* background-color: #ea9393;
  color: #fff;
  width: 20%;
  line-height: 1; */
}

#bottom-right {
  /* grid-area: bottom-right; */
  /* background-color: #ffdbdb; */
  /* width: 40%; */
}

button {
  margin: 0 2rem;
  position: relative;
  cursor: pointer;
  background-color: #ea9393;
  color: #fff;
  padding: 1rem;
  border: transparent;
}